.h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: "Mooli", sans-serif;
  margin-top: 170px;
  margin-left: 20px;
}

.div {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}

.div1,
.div2,
.div3 {
  padding: 0px;
  margin: 100px 60px 100px 60px;
  background-color: azure;
  height: 300px;
  width: 380px;
  transition: 0.3s ease;
  border-radius: 25px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.tooltip {
  position: relative;
  align-items: center;
  text-align: center;
}

.tooltipText {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  padding: 5px;
  font-size: 15px;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

.div1:hover .img,
.div2:hover .img,
.div3:hover .img {
  filter: brightness(30%);
  cursor: pointer;
}

.div1:hover .tooltipText,
.div2:hover .tooltipText,
.div3:hover .tooltipText {
  opacity: 1;
  cursor: pointer;
}

.img {
  padding: 0px;
  height: 300px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 15px;
  transition: filter 0.3s ease;
}

.p {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0px;
  text-align: center;
}

.diva {
  text-align: center;
}

.p1,
.p2 {
  display: inline-block;
  margin: 20px 15px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  width: 100px;
  padding: 5px;
  text-decoration: none;
  border-radius: 20px;
  background-color: rgb(251, 209, 157);
}

.p1:hover,
.p2:hover {
  background-color: black;
  color: white;
  box-shadow: 0 0 10px rgb(207, 206, 206);
}

.a1 {
  text-decoration: none;
  background-color: rgb(251, 209, 157);
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  text-align: center;
  padding: 5px 12px;
  font-size: 20px;
  margin: 150px auto;
  display: block;
  width: 110px;
}

.a1:hover {
  background-color: black;
  color: white;
  box-shadow: 0 0 10px rgb(207, 206, 206);
}

@media screen and (min-width: 768px) {
  .div1,
  .div2,
  .div3 {
    margin: 100px auto 100px auto;
    height: 200px;
    width: 300px;
  }
  .img {
    padding: 0px;
    height: 200px;
    width: 300px;
  }
  .p {
    font-size: 20px;
  }
  .p1,
  .p2 {
    font-size: 17px;
    padding: 4px;
  }
}

@media screen and (max-width: 767px) {
  .h1 {
    font-size: 44px;
  }
  .div1,
  .div2,
  .div3 {
    margin: 100px auto 100px auto;
    height: 200px;
    width: 300px;
  }
  .img {
    padding: 0px;
    height: 200px;
    width: 300px;
  }
  .p {
    font-size: 17px;
  }
  .p1,
  .p2 {
    font-size: 15px;
    padding: 3px;
  }
  .a1 {
    font-size: 17px;
    padding: 4px 10px;
  }
}

@media screen and (max-width: 444px) {
  .h1 {
    font-size: 33px;
  }
  .p {
    font-size: 15px;
  }
  .a1 {
    font-size: 15px;
    padding: 3px 8px;
  }
}

@media screen and (max-width: 345px) {
  .h1 {
    font-size: 22px;
  }
  .div1,
  .div2,
  .div3 {
    margin: 100px auto 100px auto;
    height: 100px;
    width: 150px;
  }
  .img {
    padding: 0px;
    height: 100px;
    width: 150px;
  }

  .p1,
  .p2 {
    font-size: 12px;
    padding: 2px;
  }
  .tooltipText {
    font-size: 8px;
  }
}
